body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.result {
    width: 100%;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.result input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: inherit;
    text-align: inherit;
}

.input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    color: #333;
    box-sizing: border-box;
}

.button {
    padding: 15px 20px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s;
    width: 50px;
}

.button:hover {
    background-color: #444;
}

.equal {
    background-color: #f7931e;
}

.operator {
    background-color: #f15f5f;
}

.clear, .cut {
    background-color: #e3e7f1;
    color: #333;
    padding:15px;
}

.cut {
    font-size: 20px;
    padding:15px;
}

.input:focus, .result-input:focus {
    outline: none;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.calculator button {
    grid-column: span 1;
}


    .button.sign {
        padding:15px 5px;
    background-color: #f15f5f; /* Use a color that contrasts well with the background */
    color: #fff; /* Text color */

   
}
.multi{
    font-size:25px;
    padding:8px;
}


